github_owner    = "it756"
repository_name = "hgl-wms"

protected_branches = ["dev", "QA", "staging", "main"]

# Use GitHub numeric user/team IDs for environment reviewers.
required_reviewer_user_ids_qa = []
required_reviewer_team_ids_qa = []

required_reviewer_user_ids_prod = []
required_reviewer_team_ids_prod = []
